<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="errorRequest">
            <h2><span>Error Request</span> {{errorRequest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{errorRequest.comment}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{errorRequest.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{errorRequest.lastName}}</span>
                </dd>
                <dt><span>Email Address</span></dt>
                <dd>
                    <span>{{errorRequest.emailAddress}}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{errorRequest.birthDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/error-request', errorRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
