<div>
    <h2 id="page-heading">
        <span>Group Permissions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group-permission" [routerLink]="['/group-permission/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Group Permission
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="groupPermissions?.length === 0">
        <span>No groupPermissions found</span>
    </div>
    <div class="table-responsive" *ngIf="groupPermissions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="moveOperatorsToUniversignOrganization"><span>Move Operators To Universign Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="allowCustomization"><span>Allow Customization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="allowAffiliatedGroup"><span>Allow Affiliated Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="allowAffiliatedCustomization"><span>Allow Affiliated Customization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupPermission of groupPermissions ;trackBy: trackId">
                <td><a [routerLink]="['/group-permission', groupPermission.id, 'view' ]">{{groupPermission.id}}</a></td>
                <td>{{groupPermission.moveOperatorsToUniversignOrganization}}</td>
                <td>{{groupPermission.allowCustomization}}</td>
                <td>{{groupPermission.allowAffiliatedGroup}}</td>
                <td>{{groupPermission.allowAffiliatedCustomization}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/group-permission', groupPermission.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group-permission', groupPermission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(groupPermission)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="groupPermissions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
