<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-operator-heading">Create or edit a Operator</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">CREATED</option>
                        <option value="VALIDATED">VALIDATED</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invitationDate">Invitation Date</label>
                    <div class="input-group">
                        <input id="field_invitationDate" type="text" class="form-control" name="invitationDate" ngbDatepicker  #invitationDateDp="ngbDatepicker" formControlName="invitationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invitationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invitationUrl">Invitation Url</label>
                    <input type="text" class="form-control" name="invitationUrl" id="field_invitationUrl"
                           formControlName="invitationUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateAccessDate">Update Access Date</label>
                    <input type="checkbox" class="form-control" name="updateAccessDate" id="field_updateAccessDate"
                           formControlName="updateAccessDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accessDate">Access Date</label>
                    <div class="input-group">
                        <input id="field_accessDate" type="text" class="form-control" name="accessDate" ngbDatepicker  #accessDateDp="ngbDatepicker" formControlName="accessDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="accessDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateTrainingDate">Update Training Date</label>
                    <input type="checkbox" class="form-control" name="updateTrainingDate" id="field_updateTrainingDate"
                           formControlName="updateTrainingDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trainingDate">Training Date</label>
                    <div class="input-group">
                        <input id="field_trainingDate" type="text" class="form-control" name="trainingDate" ngbDatepicker  #trainingDateDp="ngbDatepicker" formControlName="trainingDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="trainingDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hasSucceededMCQ">Has Succeeded MCQ</label>
                    <input type="checkbox" class="form-control" name="hasSucceededMCQ" id="field_hasSucceededMCQ"
                           formControlName="hasSucceededMCQ"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateQCMDate">Update QCM Date</label>
                    <input type="checkbox" class="form-control" name="updateQCMDate" id="field_updateQCMDate"
                           formControlName="updateQCMDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mcqDate">Mcq Date</label>
                    <div class="input-group">
                        <input id="field_mcqDate" type="text" class="form-control" name="mcqDate" ngbDatepicker  #mcqDateDp="ngbDatepicker" formControlName="mcqDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="mcqDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trainingSessionId">Training Session Id</label>
                    <input type="text" class="form-control" name="trainingSessionId" id="field_trainingSessionId"
                           formControlName="trainingSessionId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trainingSessionURL">Training Session URL</label>
                    <input type="text" class="form-control" name="trainingSessionURL" id="field_trainingSessionURL"
                           formControlName="trainingSessionURL"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sessionId">Session Id</label>
                    <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                           formControlName="sessionId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupId">Group Id</label>
                    <input type="text" class="form-control" name="groupId" id="field_groupId"
                           formControlName="groupId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_metaDatas">Meta Datas</label>
                    <select class="form-control" id="field_metaDatas" name="metaDatas" formControlName="metaDatas">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mapPropertiesOption.id === editForm.get('metaDatas').value?.id ? editForm.get('metaDatas').value : mapPropertiesOption" *ngFor="let mapPropertiesOption of metadatas; trackBy: trackMapPropertiesById">{{mapPropertiesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
