<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="certifiedUser">
            <h2><span>Certified User</span> {{certifiedUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{certifiedUser.firstname}}</span>
                </dd>
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{certifiedUser.lastname}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{certifiedUser.email}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{certifiedUser.phoneNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/certified-user', certifiedUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
